* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --light-red: #f97975;
  --dark-purple: #31027a;
}

body {
  color: var(--dark-purple);
  font-family: Helvetica, Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Header and Nav */
header {
  padding: 20px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: var(--dark-purple);
}

header h1 {
  font-weight: bold;
  color: var(--dark-purple);
  background-color: var(--light-red);
  font-size: 100px;
  margin-left: -50px;
}

header a {
  color: var(--light-red);
  text-decoration: none;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 50px 150px;
}

header nav ul li a {
  padding: 10px 5px;
  font-size: 35px;
}

.header-right {
  width: 600px;
  text-align: right;
  padding: 5px 7px;
}

u {
  text-decoration: none;
  border-bottom: 3px solid;
  color: var(--light-red);
  padding: 0 10px;
}
/* Header Nav End */

/* Footer Start */
footer a {
  color: var(--dark-purple);
  text-decoration: none;
}

footer nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

footer nav ul li a {
  padding: 10px 30px;
  font-size: 20px;
}

footer u {
  text-decoration: none;
  border-bottom: 3px solid;
  color: var(--dark-purple);
  padding: 0 10px;
}

.info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#contact-me {
  margin: 0 183px;
}
/* Footer End */

/* All Sections */
.main-padding {
  padding: 25px 0;
}

/* Hero/Jumbotron styles */
.hero {
  background-image: url("../images/portfolio-hero.jpg");
  background-size: cover;
  height: 400px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.hero h2 {
  font-weight: bold;
  background-color: var(--light-red);
  font-size: 70px;
  padding: 0 5px;
  margin: 0 100px;
}

.hero-padding {
  padding: 30px 100px;
}
/* Hero Styles End */

/* About Me Start */
.content-inside {
  display: flex;
  flex-wrap: wrap;
}

.content-inside p {
  padding: 0 0 0 30px;
  line-height: 1.5;
  margin: 7px;
}

#about-me {
  margin: 0 250px;
}
/* About Me End */

/* Work Section */
.work-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 0 30px;
}

.works {
  margin: 7px;
  flex-wrap: wrap;
  border: 5px solid var(--light-red);
}

.works img {
  width: 100%;
}
/* Work Section Image Style */
.buddy-works {
  width: 1790px;
  height: 600px;
  background-image: url(../images/run-buddy.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
}

.led-works {
  width: 888px;
  height: 250px;
  background-image: url(../images/led-light.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
}

.calculator-works {
  width: 888px;
  height: 250px;
  background-image: url(../images/calculator.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
}

.pastel-works {
  width: 888px;
  height: 250px;
  background-image: url(../images/puzzle.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  background-position: 80%;
}

.surf-works {
  width: 888px;
  height: 250px;
  background-image: url(../images/surf.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
}

a:hover {
  opacity: 0.5;
}

.title-section {
  background-color: var(--light-red);
  padding: 12px 12px;
  margin: 20px 0;
  line-height: 1.5;
}

.title-section p {
  font-size: 13px;
}
/* End Work Applications Style */

#work {
  margin: 0 282px;
  width: 100%;
}

/* Utilities */
.side-section {
  display: flex;
}

.side-section h2 {
  font-weight: bold;
  font-size: 80px;
  border-right: 3px solid;
  padding: 0 10px;
  text-align: right;
}
/* Utilities End */

/* Media Query for smaller desktop screens and smaller */
@media screen and (max-width: 1600px) {
  header h1 {
    font-size: 70px;
    margin-left: -173px;
  }

  header nav ul {
    margin: 37px 87px;
  }

  header nav ul li a {
    font-size: 25px;
  }

  .side-section h2 {
    font-size: 50px;
  }

  #contact-me {
    margin: 0 182px;
  }

  footer nav ul li a {
    padding: 10px 17px;
    font-size: 15px;
  }

  .hero {
    height: 300px;
  }

  .hero h2 {
    font-size: 40px;
    margin: 0 36px;
  }

  #about-me {
    margin: 0 224px;
  }

  .content-inside p {
    font-size: 14px;
  }

  #work {
    margin: 0 244px;
  }

  .buddy-works {
    width: 1027px;
    height: 450px;
  }

  .led-works {
    width: 507px;
    height: 180px;
  }

  .calculator-works {
    width: 507px;
    height: 180px;
  }

  .pastel-works {
    width: 507px;
    height: 180px;
  }

  .surf-works {
    width: 507px;
    height: 180px;
  }
}

/* Media Query for smaller Desktops */
@media screen and (max-width: 1117px) {
  header h1 {
    font-size: 40px;
    margin-left: -371px;
  }

  header nav ul {
    margin: 17px 47px;
  }

  header nav ul li a {
    font-size: 15px;
  }

  .side-section h2 {
    font-size: 20px;
  }

  #contact-me {
    margin: 0 120px;
  }

  footer nav ul li a {
    padding: 10px 10px;
    font-size: 10px;
  }

  .hero {
    height: 200px;
  }

  .hero h2 {
    font-size: 40px;
    margin: 0 -12px;
  }

  #about-me {
    margin: 0 136px;
  }

  .content-inside p {
    font-size: 11px;
  }

  #work {
    margin: 0 144px;
  }

  .buddy-works {
    width: 749px;
    height: 300px;
  }

  .led-works {
    width: 367px;
    height: 145px;
  }

  .calculator-works {
    width: 367px;
    height: 145px;
  }

  .pastel-works {
    width: 367px;
    height: 145px;
  }

  .surf-works {
    width: 367px;
    height: 145px;
  }
}
