* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --light-red: #f97975;
  --dark-purple: #31027a;
}

body {
  color: var(--dark-purple);
  font-family: Helvetica, Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Header and Nav */
header {
  padding: 20px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: var(--dark-purple);
}

header h1 {
  font-weight: bold;
  color: var(--dark-purple);
  background-color: var(--light-red);
  font-size: 80px;
  margin-left: -50px;
}

header a {
  color: var(--light-red);
  text-decoration: none;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 30px 90px;
}

header nav ul li a {
  padding: 10px 5px;
  font-size: 30px;
}

.header-right {
  width: 550px;
  text-align: right;
  padding: 5px 7px;
}

u {
  text-decoration: none;
  border-bottom: 3px solid;
  color: var(--light-red);
  padding: 0 10px;
}
/* Header Nav End */

/* Footer Start */
footer a {
  color: var(--dark-purple);
  text-decoration: none;
}

footer nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

footer nav ul li a {
  padding: 10px 30px;
  font-size: 20px;
}

footer u {
  text-decoration: none;
  border-bottom: 3px solid;
  color: var(--dark-purple);
  padding: 0 10px;
}

.info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#contact-me {
  margin: 0 191px;
}
/* Footer End */

/* All Sections */
.main-padding {
  padding: 50px 0;
}

/* Hero/Jumbotron styles */
.hero {
  background-image: url("../images/portfolio-hero.jpg");
  background-size: cover;
  height: 325px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.hero h2 {
  font-weight: bold;
  background-color: var(--light-red);
  font-size: 60px;
  padding: 0 5px;
  margin: 0px 30px;
}

.hero-padding {
  padding: 30px 100px;
}
/* Hero Styles End */

/* About Me Start */
.content-inside {
  display: flex;
  flex-wrap: wrap;
}

.content-inside p {
  padding: 0 30px;
}

#about-me {
  margin: 0 250px;
}
/* About Me End */

/* Work Section */
.work-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0 30px;
}

.works {
  margin: 7px;
  background: var(--light-red);
  color: var(--dark-purple);
  flex-wrap: wrap;
  border: 5px solid var(--light-red);
}

.side-section img {
  width: 250px;
  height: 150px;
}

.main-works img {
  width: 100%;
  height: 850px;
}

#work {
  margin: 0 278px;
}

/* Utilities */
.side-section {
  display: flex;
}

.side-section h2 {
  font-weight: bold;
  font-size: 70px;
  border-right: 3px solid;
  padding: 0 10px;
  text-align: right;
}
